[Unit]
Description=kokorodoki
After=network.target sound.target 
Wants=sound.target

[Service]
Type=simple
WorkingDirectory=PATH
ExecStart=PYTHON_PATH PATH/kokorodoki/main.py --daemon
Environment=DISPLAY=:1
Restart=on-failure
RestartSec=5
ExecStartPre=/bin/sleep 15

[Install]
WantedBy=default.target
